@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;700&display=swap");

/* Features layout Styles */

.container-fluid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  margin-top: 5em;
  margin-bottom: 10em;
  width: 80%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 428px) {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;

    flex-direction: column;
    flex-wrap: wrap;
  }

  & .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

    & .text {
      width: 100%;
      height: auto;
      text-align: start;
      font-family: "Roboto", sans-serif;

      & h1 {
        color: #333;
        text-align: left;
        padding-left: 0;
        padding-right: 10px;
        font-family: "Mitr", sans-serif;
        font-size: 2.5em;
        font-weight: 500;
      }

      & p {
        text-align: left;
        font-size: 17.5px;
        line-height: 24px;
        font-family: "Prompt", sans-serif;
        font-size: 18px;
        font-weight: 400;
        align-self: start;
      }
    }

    & img {
      justify-content: flex-end;
      width: 463px;
      height: 257px;
      margin-inline: auto;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 428px) {
      width: 428px;
      height: auto;
      box-sizing: border-box;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      & .text {
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
      }

      & h1,
      p {
        text-align: center;
      }

      & h1 {
        font-size: 0px;
      }

      & p {
        font-size: 16px;
        text-align: left;
      }

      & img {
        width: 300px;
        height: 246px;
        padding-left: 20px;
      }
    }
  }
}

.section-video {
  margin-top: 0;
  height: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 688px) {
    width: 100%;
  }

  & .title {
    justify-content: center;
    align-items: center;

    & h1 {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 45px;
      font-family: Mitr, sans-serif;
      font-size: 3em;
      font-weight: 400;

      @media screen and (max-width: 428px) {
        font-size: 24px;
      }
    }
  }

  & .video-div {
    display: flex;
    justify-content: space-between;
  }

  & .video {
    width: 50%;
    max-width: 80%;
    margin-bottom: 20px;
    padding: 3vh 5vw;
    height: 21em;

    @media screen and (max-width: 960px) {
      width: 70%;
      height: 19em;
    }

    @media screen and (max-width: 688px) {
      width: 80%;
      height: 17em;
    }
    @media screen and (max-width: 450px) {
      width: 90%;
      height: 16em;
    }
    @media screen and (max-width: 350px) {
      width: 95%;
      height: 15em;
    }

    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}

.section-feedback {
  display: flex;
  justify-content: center;

  padding: 50px 0;

  & .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    & h1 {
      font-family: Mitr, sans-serif;
      margin-top: 0;
      margin-bottom: 19px;
      font-size: 38px;
      font-weight: 400;

      @media screen and (max-width: 428px) {
        font-size: 24px;
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 5px;
      font-family: Prompt, sans-serif;
      font-size: 18px;
      font-weight: 400;

      @media screen and (max-width: 428px) {
        width: 90%;
        text-align: center;
        font-size: 18px;
      }
    }

    & .badge {
      display: inline-block;
      width: 295px;
      text-decoration: none;
      background-color: #17b5be;
      color: white;
      cursor: pointer;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 35px;
      text-align: center;
      margin: 0;
      height: 35px;
      padding: 0px 23px;
      border-radius: 17px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;

      @media screen and (max-width: 428px) {
        width: 192px;
      }
    }
  }
}
