@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");

/* Body styles */
body {
  color: #333;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  line-height: 22px;

  @media screen and(max-width: 428px) {
    overflow: hidden;
    width: 100%;
  }
}

/* Container fluid */
.container-fluid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Images styles */
img {
  width: 100%;
  height: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;

  position: relative;
}

/* Navigation Styles */
.navgation {
  margin: 0;
  padding: 0 5em;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;

  & .menu {
    display: flex;
    gap: 2em;
    cursor: pointer;

    & * {
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 22px;
      justify-content: space-between;
    }

    & a {
      color: black;
      text-decoration: none;
    }

    & p {
      font-family: "Prompt", sans-serif;
    }

    & .login-badge {
      align-self: center;

      color: #fff;
      background-color: #17b5be;
      border-radius: 0.2rem;
      margin-left: 10px;
      padding: 8.48px 20.8px;
      font-family: "Prompt", sans-serif;
      font-size: 15.2px;
      font-weight: 300;
      line-height: 1.375rem;
      transition: none;
      display: inline-block;
      position: static;
    }
  }

  & .menu-bar {
    display: none;
  }

  @media screen and (max-width: 428px) {
    margin: 17px 8px;
    padding: 5px;
    & .menu {
      background-color: rebeccapurple;
      display: none;
      overflow: hidden;
    }
    & img {
      width: 150px;
      height: 55px;
      justify-content: flex-start;
    }

    & .menu-bar {
      display: flex;
      justify-self: flex-end;
      margin-right: 30px;
    }
  }
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & .line {
    width: 15px;
    height: 2px;
    color: #676767;
    background-color: #676767;
  }
}

/* Footer Styles */
.footer {
  background-color: #2c2b2b;
  padding-left: 8vw;
  padding-right: 8vw;
  box-sizing: border-box;
  color: white;

  & .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    & .element {
      margin-bottom: 0;
      margin-left: 29px;
      margin-right: 8.8vh;
      padding-top: 2em;
      display: block;
      align-items: center;

      & img {
        width: 150px;
        height: 52px;
      }

      & h1 {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  & .credit {
    border-top: 1px solid rgba(151, 151, 151, 0.3);
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  @media screen and (max-width: 428px) {
    & .container {
      flex-direction: column;
    }
  }
}

.aqua-badge {
  font-family: Prompt, sans-serif;
  width: 182px;
  color: #f8f7f7;
  background-color: #17b5be;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: none;
  margin-top: 17px;

  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 1px 1px 3px #979797;

  cursor: pointer;
}

.purple-badge {
  font-family: Prompt, sans-serif;
  display: inline-block;
  letter-spacing: 1px;
  color: white;
  background-color: #612de2;
  border-radius: 8px;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 1px 1px 3px #979797;

  cursor: pointer;
}

/* Features layout Styles */
.features-plan {
  padding: 0em 8em;
  margin: 0;
  width: auto;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 428px) {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;

    flex-direction: column;
    flex-wrap: wrap;
  }

  & .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

    & .text {
      width: 75%;
      height: auto;
      text-align: start;
      font-family: "Roboto", sans-serif;

      & h3 {
        color: #6c29bd;

        letter-spacing: 1px;

        font-size: 20px;
        font-weight: 500;
      }

      & h1 {
        letter-spacing: 1px;

        font-size: 40px;
        font-weight: 600;
      }

      & h2 {
        font-family: "Prompt", sans-serif;
        font-size: 28px;
        font-weight: 500;
        line-height: 35px;
      }

      & p {
        text-align: left;
        font-size: 17.5px;
        line-height: 24px;
        font-family: "Prompt", sans-serif;
        font-size: 18px;
        font-weight: 400;
        align-self: start;
      }
    }

    & img {
      width: 90%;
      margin-inline: auto;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 428px) {
      width: 428px;
      height: auto;
      box-sizing: border-box;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      & .text {
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
      }

      & h3,
      h2,
      h1,
      p {
        text-align: center;
      }

      & h3 {
        font-size: 20px;
      }

      & h1 {
        font-size: 0px;
      }

      & h2 {
        font-size: 22px;
      }

      & p {
        font-size: 16px;
        text-align: left;
      }

      & img {
        width: 300px;
        height: 246px;
        padding-left: 20px;
      }
    }
  }
}

.hover-badge-div {
  opacity: 1;

  object-fit: fill;
  position: absolute;

  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  margin-top: 66%;


  font-family: Prompt, sans-serif;

  & * {
    box-sizing: border-box;
  }

  & .role-div {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    flex-direction: row;
    display: flex;

    & .role {
      color: #fff;
      text-align: center;
      background-color: #000;
      border-radius: 5px;
      margin-right: 10px;
      padding: 5px 15px;
      font-family: Prompt, sans-serif;
      font-size: 12px;
      line-height: 122.7%;

      &.student {
        background-color: #ee7b3f;
      }

      &.teacher {
        background-color: #17b5be;
      }
    }
  }

  & .publish-date {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 122.7%;
  }

  & .topic {
    color: white;
    font-size: 20px;
    line-height: 122.7%;
  }
}

.desc-div {
  opacity: 1;

  object-fit: fill;
  box-sizing: border-box;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  margin-top: 66%;
  font-family: Prompt, sans-serif;
  color: black;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & .container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 0.5em;

    & .role-div {
      display: block;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      flex-direction: row;
      display: flex;

      & .role {
        color: #fff;
        text-align: center;
        background-color: #000;
        border-radius: 5px;
        margin-right: 10px;
        padding: 5px 15px;
        font-family: Prompt, sans-serif;
        font-size: 12px;
        line-height: 122.7%;

        &.student {
          background-color: #ee7b3f;
        }

        &.teacher {
          background-color: #17b5be;
        }
      }
    }

    & .publish-date {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 122.7%;
      align-self: center;
    }
  }

  & .topic {
    display: block;
    font-size: 20px;
    line-height: 122.7%;
  }
}


